@import "../../../styles";

mat-card {
  padding: 0;
}

.mat-card-image {
  //width: $boundary-device-width+2*$default-space;
  //margin: 0 -$default-space 0 -$default-space;
  width: 100%;
  margin: 0;
}
