<div class="main-container">
  <!--<div class="rocket-flying" ></div>-->
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="social-panel" *ngIf="showSocial">
    <div class="soc-icon" title="vkontakte">
      <a href="https://vk.com/lllbllllb"
         rel="noreferrer"
         target="_blank"
         title="vkontakte">
      <img src="../assets/icons/social/vk_512-512.png" style="height: 100%">
      </a>
    </div>

    <div class="soc-icon" title="linkedin">
      <a href="https://www.linkedin.com/in/mbllllb"
         rel="noreferrer"
         target="_blank"
         title="linkedin">
        <img src="../assets/icons/social/linkedin_256-256.png" style="height: 100%">
      </a>
    </div>

    <div class="github soc-icon" title="github">
      <a href="https://github.com/lllbllllb"
         rel="noreferrer"
         target="_blank"
         title="github">
      <img src="../assets/icons/social/github_256-256.png" style="height: 100%">
      </a>
    </div>

    <div class="soc-icon" title="mail to enakes@gmail.com">
      <a href="mailto:enakes@gmail.com"
         rel="noreferrer"
         target="_blank"
         title="mail to enakes@gmail.com">
      <img src="../assets/icons/social/gmail_256-256.png" style="height: 100%">
      </a>
    </div>

    <div class="close-background">
      <button class="close-background" mat-icon-button color="warn" (click)="showSocial = false">
        <mat-icon title="Hide social" aria-label="Hide social">close</mat-icon>
      </button>
    </div>
  </div>

  <div class="social-link" title="Open social" (click)="showSocial = !showSocial">dev by mbllllb (v. 0.9.4)</div>
</div>
