<div class="outer-flex-container">
  <div class="inner-flex-container">
    <div class="tile">
      <app-movie-search (selectedMovie)="selectMovie($event)" (acceptedMovie)="acceptMowie($event)"></app-movie-search>
    </div>

    <!--<div class="tile" *ngIf="selectedMovie">-->
      <!--<app-movie-preview [selectedMovie]="selectedMovie"></app-movie-preview>-->
    <!--</div>-->
  </div>

  <div class="inner-flex-container">
    <div class="tile">
      <app-movie-wishlist></app-movie-wishlist>
    </div>
  </div>
</div>
