<mat-card>
  <mat-card-header>
    <mat-card-title>Search settings</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <!--<div class="flex-wrapper-row" [ngClass]="{'link-border': linkedApikeyAlias}">-->
      <div class="flex-wrapper-row">
        <mat-form-field style="width: calc(100% - 50px)">
          <input matInput required #apikey type="{{showApikey ? 'text' : 'password'}}"
                 placeholder="You API key for OMDB or his alias"
                 [formControl]="apikeyCtrl"
                 (keyup.enter)="saveApikey()"
                 (keyup)="apiKeyInvalid = false">

          <button mat-button matSuffix color="primary" aria-label="Show/Hide" (click)="showApikey = !showApikey">
            <mat-icon *ngIf="!showApikey">visibility</mat-icon>
            <mat-icon *ngIf="showApikey">visibility_off</mat-icon>
          </button>

          <mat-hint>
            <a href="https://www.omdbapi.com/apikey.aspx" title="Get a free API-key" rel="noreferrer" target="_blank">Get a free API-key</a>
          </mat-hint>
        </mat-form-field>

        <button mat-button color="primary" aria-label="OK" (click)="saveApikey()" style="width: 40px">OK</button>
      </div>

      <div class="flex-wrapper-row">
        <div>
          <mat-form-field class="half-input">
            <mat-select placeholder="Type" [(value)]="type" (selectionChange)="search()">
              <mat-option aria-placeholder="type"></mat-option>
              <span *ngFor="let t of types">
                <mat-option aria-placeholder="type" value="{{t}}">{{t}}</mat-option>
              </span>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="half-input">
            <mat-select placeholder="Year" [(value)]="year" (selectionChange)="search()">
              <mat-option aria-placeholder="type"></mat-option>
              <span *ngFor="let y of years">
                <mat-option aria-placeholder="type" value="{{y}}">{{y}}</mat-option>
              </span>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field style="width: 100%">
        <input matInput #searchString required
               placeholder="Enter the title to search"
               aria-label="Tap title to search"
               [matAutocomplete]="auto"
               [formControl]="movieCtrl"
               (keyup)="search()">

        <button mat-button color="primary" *ngIf="searchString.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchString.value=''">
          <mat-icon>close</mat-icon>
        </button>

        <mat-hint *ngIf="apiKeyInvalid">
          You API-key is invalid
        </mat-hint>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayMovie.bind(this)">
          <mat-option *ngFor="let m of movies" [value]="m" (onSelectionChange)="selectMovie()">

            <img [src]="m.Poster" (error)="imgErrorHandler($event)" height="25" class="list-img" (click)="zoomImg(m.Title, m.Poster)"
                 alt="{{m.Title}}">
            <span class="content" title="{{m.Title}} ({{m.Type.toString()}}, {{m.Year}})"> {{m.Title}} </span>
            <small>({{m.Type.toString()}}, {{m.Year}})</small>

          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button class="search-button" name="add to wishlist" title="add to wishlist" color="primary" mat-button [disabled]="movieCtrl.invalid || apikeyCtrl.invalid" (click)="acceptMovie()">
      <mat-icon title="Add to wishlist">playlist_add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
