<div class="outer-flex-container">
  <div class="inner-flex-container">
    <div class="tile">
      <app-movie-poster [movie]="movie"></app-movie-poster>
    </div>

    <div class="tile">
      <mat-card *ngIf="movie">
        <mat-card-header>
          <mat-card-title>Back</mat-card-title>
        </mat-card-header>

        <mat-card-content class="max-width">
          <button class="full-width" color="primary" mat-button (click)="goBack()" title="Go back">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="inner-flex-container">
    <div class="tile">
      <app-movie-description [movie]="movie"></app-movie-description>
    </div>
  </div>
</div>
