/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.outer-flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.inner-flex-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.full-width-input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
