@import "../../../styles";

a:hover {
  text-decoration: underline;
}

.deleted-item {
  //animation: delete-item-flick 2s 1 linear;
  opacity: 0.2;
  transition: opacity 2s cubic-bezier(.52, 1, .33, 1);
}

@keyframes delete-item-flick {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
