<mat-card>
  <mat-card-header>
    <mat-card-title>A wish list</mat-card-title>
    <mat-card-subtitle>{{movies && movies.length !== 0 ? (movies.length + (movies.length === 1 ? ' movie ' : ' movies ')) : 'No saved movies yet'}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-nav-list *ngIf="movies">
      <mat-list-item *ngFor="let m of movies" title="{{m.Title}} ({{m.Type}}, {{m.Year}})">

        <img matListAvatar [src]="m.Poster" (error)="imgErrorHandler($event)" alt="{{m.Title}}" (click)="zoomImg(m.Title, m.Poster)" [ngClass]="{'deleted-item': m.imdbID === deletedItemImdbId}">
        <a matLine routerLink="{{m.imdbID}}" title="{{m.Title}} ({{m.Type}}, {{m.Year}})" [ngClass]="{'deleted-item': m.imdbID === deletedItemImdbId}">{{m.Title}}</a>
        <p mat-line [ngClass]="{'deleted-item': m.imdbID === deletedItemImdbId}"> {{m.Type}}, {{m.Year}} </p>

        <button mat-button color="{{m.imdbID === deletedItemImdbId ? 'primary' : 'warn'}}" matSuffix mat-icon-button aria-label="Delete" title="Delete movie" (click)="deleteMovie(m)">
          <mat-icon *ngIf="m.imdbID !== deletedItemImdbId">close</mat-icon>
          <mat-icon *ngIf="m.imdbID === deletedItemImdbId">undo</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

  </mat-card-content>
</mat-card>
